h1.titre_combattant{
	margin: 2%;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
    color: white;
}

.img_combattants_liste{
	border-radius: 5px;
	width: 100%;
	height: auto;
}

.img_combattant{
	display: block;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    width: 25%;
    float: left;
	border-radius: 10px;
    height: auto;
}

.info_combattants_liste{
	margin: 2%;
	border-radius: 10px;
    float: left;
	text-align: center;
}

.btn_nom_joueur{
	border: transparent;
}

.block_joueur{
	background-color: white;
	display: block;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
	width: 25%;
}

.champ_joueur{
	margin: 2%;
	color: black;
	font-weight: bold;
}

.container-fighter{
	text-align: center;
	width: 70%;
    margin-left: 0%;
	margin-right: 2%;
    float: right;
}