/* Style sur les éléments Html */
body{
   background-color: rgb(136, 0, 0);
}

/* Styles uniques et génériques */
.sambo-background{
    background-color:rgb(31, 31, 95);
    color: white;
}

/*.center{
    text-align: center;
}*/

.padding-left{
    padding-left: 15px;
}

/* Styles ciblés*/
.sambo-navbar-input{
    border: 1px solid grey;
    color: white;
}

.container-header{
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px; 
    float: none;
}

.container-title{
    font-size: 20px;
    padding-bottom: 10px; 
}

.container-combat-name{
    font-weight: bold;
    color: rgb(31, 31, 95);
    vertical-align: middle;
}

.prono-container-row{
    background-color:white;
    padding-top : 10px;
    padding-bottom: 10px;
    margin-top: 3px;
}

.blank-space{
    padding-top: 20px
}

.prono-container{
    text-align: center;
    margin-block: 20px;
}

  
  .no-borders:hover, .no-borders:focus {
    text-decoration: none;
  }
  
  .no-borders.disabled {
    color: #919ca7;
    pointer-events: none;
    cursor: default;
  }
  
  .no-borders {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .no-borders:hover .no-borders:focus {
    color: #dee2e6;
  }
  
    .no-borders.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  
  .no-borders.active {
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  
/* ****************************
************  HOME  ***********
*******************************/
.combattant-home-card{
    width: 45%;
    margin: 2.5%;
}